.header{
    background-color: #003580;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}

.headerContainer{
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}
.headerContainer.active{
    margin: 20px 0px 40px 0px;
    
}
.headerList{
    display: flex;
    gap: 40px;
}
.headerListItem{
    display: flex;
    gap: 10px;
    align-items: center;
}
.headerListItem.active{
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
}
.headerBtn{
    background-color: #2f77dd;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.headerIcon{
    color: rgb(169, 169, 169);
}

.headerSearch{
    position: absolute;
    border-radius: 5px;
    max-width: 1024px;
    height: 30px;
    width: 100%;
    padding: 10px 0px;
    background-color: white;
    border: 3px solid rgb(242, 214, 37);
    display: flex;
    align-items: center;
    bottom: -25px;
    justify-content: space-around;
}

.headerSearchItem{
    display: flex;
    align-items: center;
    gap: 10px;
    color: gray;
    cursor: pointer;
}
.headerSearchInput{
    border: none;
    outline: none;
}

.options{
    position: absolute;
    top: 50px;
    background-color: white;
    color: grey;
    border-radius: 5px;
    z-index: 2;
}
.date{
    position: absolute;
    top: 50px;
    z-index: 2;
}
.optionsItem{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.optionCounter{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #2f77dd;   
}
.optionCounterButton{
    width: 30px;
    height:30px ;
    color: #2f77dd;
    cursor: pointer;
    
}